# Virtual environment
.venv/
venv/

# Temporary files and folders
src/__pycache__/
__pycache__/
src/*.log

# Config and data
src/.env
src/*.yaml
src/*.yml
src/users.db

# Streamlit
src/.streamlit/
src/streamlit.log
src/streamlit_error.log

# FAISS database
src/faiss_index*/
src/vectordb.txt

# Local dataset
src/dataset/
src/dataset*/

# Editor e sistema
.DS_Store
.idea/
.vscode/

src/responses.txt
src/.streamlit/