llm_provider: "" # Options: "openai" or "mistral"
model_name: "" # for OpenAI: "gpt-3.5-turbo" or "gpt-4", or "gpt-4-turbo", for Mistral: "mistral-medium" or "mistral-large-latest" or "mistral-small-2506"
embedding_model: "" # "text-embedding-ada-002" or "text-embedding-3-small" for OpenAI or "mistral-embed" for Mistral
use_query_rewriting: false # enable or disable query rewriting
dataset_private_path: "./dataset/private"
dataset_public_path: "./dataset/public"
web_urls: "web_urls"
yt_video_links: "yt_video_links"
text_files: "text_files"
pdf_files: "pdf_files"
rtdocs_files: "rtdocs_files"
html_files: "html_files"
persist_directory: "faiss_index"
host: "127.0.0.1"
port: 8080
system_prompt: ""
query_rewriting_prompt: ""
logo_pth: ""
company_name: ""
feedback_options: "thumbs" # thumbs, stars, or faces
no_answer_message: "I don't have the answer to that question"
nr_documents: 5
# analytics
analytics_model: "mistral-small-latest"
analytics_prompt: "Given the following SQLite database schema: \n'''CREATE TABLE IF NOT EXISTS users (id integer PRIMARY KEY, username text NOT NULL UNIQUE, email text NOT NULL UNIQUE, type text DEFAULT 'guest', user_group text, email_verified integer DEFAULT 0, created_at DATETIME DEFAULT CURRENT_TIMESTAMP); CREATE TABLE IF NOT EXISTS messages (id INTEGER PRIMARY KEY AUTOINCREMENT, username TEXT NOT NULL, role TEXT NOT NULL, content TEXT NOT NULL, timestamp DATETIME DEFAULT CURRENT_TIMESTAMP, feedback INTEGER DEFAULT NULL);''' where 'role' field contains 'user' for questions and 'assistant' for answers, 'feedback' field is 1 for positive feedback or thumb up, 0 for negative or thumb down \nGenerate a SQL query to answer the user question \nReturn ONLY the SQL query, nothing else and do not use 'start of week' or 'start of day', use alias for count field. User question: "
dbpath: "users.db"
landing_page: "https://aifaq.pro/"
contact_page: ""